[Unit]
Description=Firewall for IPFire
After=firewall-init.service
Before=network.target
Requires=firewall-init.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@sbindir@/firewall start
ExecStop=@sbindir@/firewall stop

[Install]
WantedBy=multi-user.target
