/Makefile
/build-aux
/missing
/src/functions/functions
/src/inetcalc
/src/network.pc
/src/ppp/ip-updown
/src/systemd/*.service
/tmp
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.cache
*.o
*.stamp
*.trs
*~
.deps
.dirstamp
Makefile.in
aclocal.m4
config.status
configure
install-sh
stamp-*
