/Makefile
/build-aux
/config.*
/libtool
/missing
/src/functions/functions
/src/inetcalc
/src/libnetwork/libnetwork.pc
/src/network.pc
/src/ppp/ip-updown
/src/systemd/*.service
/test/nitsi/test/settings
/tmp
/*.tar.bz2
/*.tar.gz
/*.tar.xz
*.log
*.cache
*.la
*.lo
*.o
*.stamp
*.swp
*.trs
*~
.deps
.dirstamp
.libs
Makefile.in
aclocal.m4
config.status
configure
install-sh
stamp-*
