
# Call a script that checks for the right name of the new device.
# It is either renamed to match an existing configuration or gets
# a new name.
ACTION=="add", SUBSYSTEM=="net", PROGRAM="/usr/lib/udev/network-hotplug-rename", RESULT=="?*", NAME="$result"

# Handle all plugged-in devices.
SUBSYSTEM=="net", RUN+="/usr/lib/udev/network-hotplug"

# Handle all serial devices (like modems and so on...).
KERNEL=="ttyUSB*", RUN+="/usr/lib/udev/network-hotplug-serial"
