[Unit]
Description=Firewall for IPv4
After=firewall-init.service
Before=network.target
Requires=firewall-init.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/firewall4 start
ExecStop=/usr/sbin/firewall4 stop

[Install]
WantedBy=multi-user.target
