[Unit]
Description=Network Connectivity for zone %I
After=firewall-init.service
Requires=firewall-init.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/network zone %I up
ExecStop=/usr/sbin/network zone %I down
