[Unit]
Description=Network Connectivity
After=firewall-init.service
Before=network.target
Requires=firewall-init.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/sbin/network init
ExecStart=/usr/sbin/network start
ExecStop=/usr/sbin/network stop

[Install]
WantedBy=multi-user.target
